.ventanaEmergente {
    border: 4px solid blue;
    text-align: center;
    margin-left: 550px;
    width: 320px;
    height: 150px;
    background-color: white;
    margin-top: 200px;

}

.azul {
    background-color: blue;
    font-size: 27px;
    font-weight: 900;
    text-align: start;
    margin-top: -2px;
    color: white;

}

#error {
    font-size: 27px;
    margin-top: -13px;
    font-weight: 900;
}

button {
    margin-top: 11px;
    font-size: 15px;
    cursor: pointer;
}

body {
    height: 50vh;
    background-image: url(https://www.softzone.es/app/uploads-softzone.es/2024/10/fotografia-original-fondo-windows-xp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}