.diseñoFormulario{

    background-position: center;
    text-align: center;
    height: 270px;
    width: 270px ;
    border: 1px solid #000;
    margin-left: 490px;
    margin-top: 70px;
    background-image: url(https://wallpaper.forfun.com/fetch/dd/dd7650a2631b706e7fe577d451e8e212.jpeg);
}

#rellenar{
    margin-top: 20px;
}
 
button{
    margin-top: 20px;
}

#respuesta{
    text-align: center;
}

#reset{
    background-color: red;
    color: white;
    border: none;

}

#Solicitar{
    background-color: greenyellow;
    border: none;
    color: white;

}


